<h1>This is the List of Foods Page</h1>

<% @foods.each do |food| %>
  <div>
    <%= link_to food_path(food.id) do %>
      <p>Food Name: <%= food.name %></p>
      <p>Mesurement Unit: <%= food.measurement_unit %></p>
      <p>Food Price: <%= food.price %></p>
    <% end %>
  </div>
<% end %>